html {
    height: 700px;
    background-color: lightblue;
}

nav {
    background-color: red;
    width: 80%;
}

ul {
    list-style-type: none;
    margin-left: 14%;
    margin-top: 2%;
}

li {
    float: left;
    margin-right: 2%;
    background-color: lightgray;
    border: 1px solid black;
}

a {
    text-decoration: none;
    color: black;
}

h1 {
    margin-top: 3%;
    text-align: center;
}

.outermostbox {
    margin-top: 3%;
    margin-left: 10%;
    margin-right: 10%;
    border: 1px;
    width: 80%;
}

#leftbox {
    margin-left: 5%;
    float: left;
    width: 50%;
    height: 430px;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    background-color: lightgray;
}

#rightbox {
    float: left;
    width: 40%;
    border: 1px solid black;
    height: 430px;
    background-color: lightgray;
}

.boxheader {
    font-weight: bold;
    text-align: center;
    float: left;
    width: 100%;
    margin-bottom: 5%;
    border-bottom: 1px solid black;
    background-color: gray;
}

.inputfield {
    margin-bottom: 5%;
    width: 50%;
}

.label {
    float: left;
    margin-left: 5%;
    margin-right: 10%;
    width: 30%;
}

.dropdown {
    width: 50%;
    margin-bottom: 5%;
    height: 22px;
}

.textarea {
    width: 50%;
    height: 55%;
}

#submit {
    float: right;
    margin-right: 4%;
    margin-top: 3%;
}